

<div class="form-group search-form">
  <%= form_tag :search, method: :get, class: "form-inline" do %>
    <%= text_field_tag :term, nil, placeholder: "search by restaurant or cuisine", class: "form-control"%>
    <%= text_field_tag :location, nil, placeholder: "city or zipcode", class: "form-control"%>
    <%= submit_tag "Search", class: "btn btn-success" %>
  <% end %>
</div>

<div class="container search-results">
  <% @restaurants.each do |restaurant| %>
    <ul>
      <li><%= restaurant.name %> <%= restaurant.rating%></li>
      <li><%= restaurant.location.display_address[0] %></li>
      <li><%= restaurant.location.display_address[2] %></li>
    </ul>
  <% end %>

</div>
