
<div class="search-header">
  <div class="form-group search-form">
    <h3 id="search-text">Enter search terms to see your results</h3>
    <%= render partial: 'form' %>

  </div>
</div>

<div class="container search-label">
  <h5>Search Results</h5>
</div>
<div class="container search-results">
  <% @restaurants.each do |restaurant| %>
    <div class="row restaurant-info">
      <div class="col-md-3">
        <ul>
          <li class="rest-name"><%=restaurant.name%></li>
          <li><%= restaurant.location.address[0]%></li>
          <li><%= restaurant.location.city%>, <%= restaurant.location.state_code%> <%= restaurant.location.postal_code %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li class="on-yelp"><%= stars_for_rating(restaurant.rating) %> on Yelp</li>
          <li>
            <%= number_of_tuesdaters_eaten_here(restaurant) %>
          </li>
          <li>
            <%= restaurant_reviews(restaurant)%>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <%= link_to new_event_path(yelp_id: restaurant.id, restaurant_name: restaurant.name, street: restaurant.location.address[0], city: restaurant.location.city, state: restaurant.location.state_code, zip: restaurant.location.postal_code) do %>
          <button type="button" class="btn btn-success create-event">
            +
          </button>
        <% end %>
      </div>
      <div class="col-md-3-offset">
      </div>
    </div>
  <% end %>

</div>
