
<div class="search-header">
  <div class="form-group search-form">
    <h3 id="search-text">Enter search terms to see your results</h3>
    <%= form_tag :search, method: :get, class: "form-inline" do %>
      <%= text_field_tag :term, nil, placeholder: "search by restaurant or cuisine", class: "form-control"%>
      <%= text_field_tag :location, nil, placeholder: "city or zipcode", class: "form-control"%>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="container search-label">
  <h5>Search Results</h5>
</div>
<div class="container search-results">
  <% @restaurants.each do |restaurant| %>
    <div class="row restaurant-info">
      <div class="col-md-3">
        <ul>
          <li class="rest-name"><%= link_to restaurant.name, dashboard_path %></li>
          <li><%= restaurant.location.address[0]%></li>
          <li><%= restaurant.location.city%>, <%= restaurant.location.state_code%> <%= restaurant.location.postal_code %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><%= restaurant.rating%> on Yelp</li>
          <li> 3 other Tuesdaters have eaten here</li>
          <li><%= link_to "See Reviews", dashboard_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <%= link_to dashboard_path do %>
          <button type="button" class="btn btn-success">
            +
          </button>
          Plan your date
        <% end %>
      </div>
      <div class="col-md-3-offset">
      </div>
    </div>
  <% end %>

</div>
