<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 group-info">
      <h2> <%= @group.name %> </h2>
      <%= link_to "Edit group", edit_group_path(@group) %>
      <div class="group-members">
        <h4> Group Members </h4>
          <% @group.users.each do |member| %>
            <% if member.first_name.nil? %>
              <li><%= member.email %></li>
            <% else %>
              <li><%= member.first_name %> <%= member.last_name %></li>
            <% end %>
          <% end %><br>
          <%= link_to "Leave group", group_group_member_path(@group), method: "delete" %>
      </div>
      <h4>Invite others to this group</h4>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 invite-form">
      <%= render partial: "invite" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="group-events">
    <div class="container">
      <h5>Events with this group</h5>
    </div>
    <div class="row">
      <% @events.each do |event| %>
        <%= render partial: "shared/event_tile", locals: {event: event} %>
      <% end %>
    </div>
  </div>
</div>
