<div class="col-md-3 event-tile">
  <li><%= link_to event.group.name, group_path(event.group) %></li>
  <div class="event-tile-details">
    <li><h6>Organizer</h6><%= event.user.first_name %>
    <%= event.user.last_name %></li>
    <li><h6>Date</h6><%= format_long_date(event) %></li>
  </div>
  <li>
    <div class="details-button">
      <%= link_to event_path(event) do%>
        <button type="button" class="btn btn-success">
          Details
        </button>
      <% end %>
    </div>
  </li>
</div>
