<div class="col-md-3">
</div>
<div class="row">
  <% @events.each do |event| %>
    <div class="col-md-3 event-tile">
      <li><%= event.group.name %></li>
      <div class="event-tile-details">
        <li><h6>Organizer</h6><%= event.user.first_name %>
        <%= event.user.last_name %></li>
        <li><h6>Date</h6><%= event.event_start %></li>
      </div>
      <li><%= link_to "Details", event_path(event) %></li>
    </div>
  <% end %>
</div>
