<div class="row event-header">
  <div class="col-md-6 event-left">
  </div>
  <div class="col-md-6 event-right">
    <div class="event-details">
      <%= rsvp_button(@rsvp, @event) %>
      <% cache("#{@event.id}-#{@event.updated_at}") do %>
      <li><h6>Group</h6><%= @event.group.name %></li>
      <li><h6>Organizer</h6><%= @event.user.first_name %> <%= @event.user.last_name %></li>
      <li><h6>Where</h6><%= @event.restaurant.name %>,
      <%= @event.restaurant.street %>,
      <%= @event.restaurant.city %>, <%= @event.restaurant.state %> <%= @event.restaurant.zip %></li>
      <li><h6>When</h6><%= format_datetime(@event) %></li>
      <% end %>
      <li><h6>Who's Coming?</h6></li>
        <div class="whos-coming">
          <% @event.rsvps.each do |rsvp|%>
            <li><%=show_name_or_email_rsvp(rsvp)%></li>
          <% end %>
      </div>
      <%= event_edit_button(@event)%>
      <br>
      <% if @event.event_start.past? %>
        <%= link_to new_restaurant_review_path(@event.restaurant) do %>
          <%= button_tag "Leave a review", {type: "button", class: "btn btn-primary"} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container event-reviews-label">
  <h5>Other Tuesdaters Said...</h5>
</div>

<div class="container reviews-list">
  <% if @event.restaurant.reviews.empty? %>
    <p><%= "There are no reviews for this restaurant." %></p>
  <% else %>
    <% @event.restaurant.reviews.each do |review| %>
      <%= render partial: 'shared/reviews', locals: {review: review} %>
    <% end %>
  <% end %>
</div>
