<div class="row event-header">
  <div class="col-md-6 event-left">
  </div>
  <div class="col-md-6 event-right">
    <div class="event-details">
      <% if !@rsvp.nil? && @event.event_start.future? %>
        <%= link_to edit_event_rsvp_path(@event, @rsvp) do%>
          <button type="button" class="btn btn-success">RSVP</button>
        <% end %>
      <% end %>

      <li><h6>Group</h6><%= @event.group.name %></li>
      <li><h6>Organizer</h6><%= @event.user.first_name %> <%= @event.user.last_name %></li>
      <li><h6>Where</h6><%= @event.restaurant.name %>,
      <%= @event.restaurant.street %>,
      <%= @event.restaurant.city %>, <%= @event.restaurant.state %> <%= @event.restaurant.zip %></li>
      <li><h6>When</h6><%= format_datetime(@event) %></li>
        <li><h6>Who's Coming?</h6></li>
        <div class="whos-coming">
          <% @event.rsvps.each do |rsvp|%>
            <% if rsvp.user.first_name.nil? %>
              <li><%=rsvp.user.email%></li>
            <% else %>
              <li>
                <%= rsvp.user.first_name %> <%= rsvp.user.last_name %> <%= rsvp.status %>
              </li>
            <% end %>
          <% end %>
      </div>
      <% if  @event.event_start.future? && @event.user == current_user%>
        <%= link_to edit_event_path(@event) do%>
        <button type="button" class="btn btn-primary">Edit</button>
        <% end %>
      <% end %>
      <br>
      <% if @event.event_start.past? %>
        <%= link_to new_restaurant_review_path(@event.restaurant) do%>
          <button type="button" class="btn btn-primary">Leave a review</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container event-reviews-label">
  <h5>Other Tuesdaters Said...</h5>
</div>

<div class="container reviews-list">
  <% if @event.restaurant.reviews.empty? %>
    <p><%= "There are no reviews for this restaurant." %></p>
  <% else %>
    <% @event.restaurant.reviews.each do |review| %>
      <%= stars_for_rating(review.stars) %>
      <li class="review-content"><%= review.review_content %></li>
      <li class="reviewer-name"><%= review.user.first_name %> <%= review.user.last_name %></li>
    <% end %>
  <% end %>
</div>
