<div class="row event-header">
  <div class="col-md-6 event-left">
  </div>
  <div class="col-md-6 event-right">
    <div class="container event-details">
      <% if !@rsvp.nil? && @event.event_start.future? %>
        <%= link_to edit_event_rsvp_path(@event, @rsvp) do%>
          <button type="button" class="btn btn-success">RSVP</button>
        <% end %>
      <% end %>
      <li><h6>Group</h6><%= @event.group.name %></li>
      <li><h6>Organizer</h6><%= @event.user.first_name %> <%= @event.user.last_name %></li>
      <li><h6>Where</h6><%= @event.restaurant.name %></li>
      <li><%= @event.restaurant.street %></li>
      <li><%= @event.restaurant.city %>, <%= @event.restaurant.state %> <%= @event.restaurant.zip %></li>
      <li><h6>When</h6><%= format_datetime(@event.event_start) %></li>
      <h6>Who's Coming?</h6>
      <% @event.rsvps.each do |rsvp|%>
        <li>
          <%= rsvp.user.first_name %> <%= rsvp.user.last_name %> <%= rsvp.status %>
        </li>
      <% end %>
      <% if  @event.event_start.future? && @event.user == current_user%>
        <%= link_to "Edit", edit_event_path(@event)%>
      <% end %>
      <br>
      <% if @event.event_start.past? %>
        <%= link_to new_restaurant_review_path(@event.restaurant) do%>
          <button type="button" class="btn btn-primary">Leave a review</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container event-reviews-label">
  <h5>Other Tuesdaters Said...</h5>
</div>

<div class="container reviews-list">
  <% if @event.restaurant.reviews.empty? %>
    <p><%= "There are no reviews for this restaurant." %></p>
  <% else %>
    <% @event.restaurant.reviews.each do |review| %>
      <li class="review-stars"><%= review.stars %> Stars</li>
      <li class="review-content"><%= review.review_content %></li>
      <li class="reviewer-name"><%= review.user.first_name %> <%= review.user.last_name %></li>
    <% end %>
  <% end %>
</div>
